<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel planner</title>
</head>

<body>
    <header>
        <h1>travel planner</h1>
    </header>
    <main class="container">
        <div class="travel-image">
            <img id="trip-img" src="../images/paolo-nicolello-unsplash.jpg" alt="beach waves">
        </div>
        <div id="trip-results" class="trip-results">
            <div id="city"></div>
            <div id="trip-start"></div>
            <div id="trip-duration"></div>
            <div id="temp"></div>
            <div id="description"></div>
        </div>
        <div class="trip-info-container">
            <h2>my trip to</h2>
            <div class="trip-info">
                <form action="">
                    <div class="form-section form-section-destination">
                        <label for="trip-destination">location</label>
                        <input type="text" name="trip-destination" id="trip-destination">
                    </div>
                    <div class="form-section form-section-date">
                        <label class="trip-date" for="start-date">departing</label>
                        <input class="trip-date" type="date" name="start-date" id="start-date">
                        <label class="trip-date" for="return-date">returning</label>
                        <input class="trip-date" type="date" name="return-date" id="return-date">
                    </div>
                    <button type="button" class="form-button" id="button">go</button>
                </form>
            </div>
            <div class="buttons">
                <button id="save-trip" class="button">save trip</button>
                <button id="clear-trip" onclick="Client.clearData()" class="button">clear trip</button>
            </div>
        </div>
    </main>
    <section class="saved-trips" id="saved-trips"></section>
    <footer></footer>
</body>

</html>