<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel planner</title>
</head>
<body>
    <header>
        <h1>travel planner</h1>
    </header>
    <main class="container">
        <div class="travel-image">
            <img src="../images/paolo-nicolello-unsplash.jpg" alt="beach waves">
        </div>
        <div class="travel-information">
            <h2>my trip to</h2>
            <div class="trip-info">
                <input type="text" name="trip-destination" id="trip-destination">
                <input type="date" name="trip-date" id="trip-date">
            </div>
            <div>
                <button class="button">save trip</button>
                <button class="button">remove trip</button>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>