.saved-trips {
    background-color: #fee;
    box-sizing: border-box;
    padding: 0.8em;
    padding-bottom: 0;
    width: 98%;
    margin: auto;
    border: 5px solid #fff;
}

.user-trips {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: justify;
    padding-bottom: 1em;
    border-bottom: 5px double #ddd;

    p {
        width: 100%;
    }

    img {
        box-sizing: border-box;
        border: 5px solid #ddd;
        border-radius: 4px 4px 0 0;
        padding: 5px;
        width: 100%;
        object-fit: contain;
        margin: auto;
    }
    button {
        width: 100%;
        height:2.5em;
        border: 5px solid #ddd;
        border-radius: 0 0 4px 4px;
        text-transform: capitalize;

        &:hover {
            background-color: #333;
            border: 5px solid #ddd;
            color: #ddd;;
        }
    }
}

/****************Media Queries*********/

@media screen and (min-width: 1026px) {

    .user-trips {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:    " . parag1 parag1 . img ."
                                ". parag2 parag2  . img ."
                                ". . btn . img .";

        p:first-of-type{
            grid-area: parag1;
        }

        p:last-of-type {
            grid-area: parag2;
        }

        img {
            grid-area: img;
            width: 100%;
            box-sizing: border-box;
            border-radius: 4px;
        }
        button {
            // width: 100%;
            grid-area: btn;
            border-radius: 4px;
        }
    }
}
