body {
    background-color: #fff;
    width: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-size: 2em;
    text-transform: capitalize;

    h1 {
        margin: 0.5em;
    }
}

.container {
    background-color: #fee;
    width: 100%;
    margin: auto;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr;
    grid-template-areas: "image"
                        "info";

    .travel-image {
        grid-area: image;
        margin: auto;
    }

    .travel-information {
        grid-area: info;
        margin: auto;
        margin-bottom: 2em;

        h2 {
            text-align: center;
            text-transform: capitalize;
        }

        .button {
            width: 100%;
            text-transform: uppercase;
            margin: 0.1em;
        }
    }
}


/****************Media Queries*********/

@media screen and (min-width: 1026px) {

    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "image info"
                            "image info";

        .travel-information {
            margin-bottom: auto;
            width: 90%;

            .button {
                width: 45%;
            }
        }
    }

    .trip-info {
        width: 90%;
    }

    .form-section {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;

        label {
            width: 30%;
        }

        input {
            width: 70%;
            height: 1.5em;
        }
    }

    .form-button {
        width: 100%;
        text-transform: uppercase;
        margin: 0.1em;
    }
}



