body {
    background-color: #fff;
    width: 100%;
    margin: auto;
}

.container {
    background-color: #fee;
    // background: url('../images/paolo-nicolello-unsplash.jpg');
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "image"
                        "info";

    .travel-image {
        grid-area: image;
    }

    .travel-information {
        grid-area: info;
    }
}
